body {
    margin: 0;
background:linear-gradient(135deg, #ff7a00, #00c2a8, #3a86ff);
    color: white;

    display:flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

    font-family: 'Poppins', sans-serif;

}

.card {
    background-color: rgba(0,0, 0, 0.6);
    padding: 20px;
    width: 250px;
    border-radius: 20px;
    text-align: center;
    
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

color: white;

    box-shadow: 0 0 20px rgba(255, 122, 0, 0.5)
}

.frase {
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 16px;
    text-align: center;
}