body {
    background-color: #d6993c;
    color: white;
  font-family: 'Poppins', sans-serif;
}

.card {
    background-color: #325862;
    text-align: center;
    box-shadow: #112429;
    width: 100px;
}
.menu { 
    display: flex;
    justify-content: center;
    gap: 10px

}

.linha{
    display: flex;
    align-items: center;
    gap: 10px;
}

.linha img {
    width: 20 px;
    height: auto;
}